<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Reddit Clone</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div>
  </div>
</nav>
<main class="container">
  <div class="pull-right">
    <p><a class="btn btn-info" ng-click="$ctrl.toggleForm()">New Post</a></p>
  </div>
  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <input type="search" class="form-control input-sm search-form" placeholder="Filter" ng-model="searchText">
    </li>
      <li class="dropdown">

        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Sort By {{$ctrl.sortText}}
          <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a ng-click="$ctrl.sortBy = '-vote_count'; $ctrl.sortText = 'Votes'">Sort By Votes</a></li>
          <li><a ng-click="$ctrl.sortBy = -createdAt; $ctrl.sortText = 'Date'">Sort By Date</a></li>
          <li><a ng-click="$ctrl.sortBy = 'title'; $ctrl.sortText = 'Title'" >Sort By Title</a></li>
        </ul>
      <!-- </div> -->
    </li>
  </ul>
  <div ng-if="$ctrl.show" class="row">
    <div class="col-md-8">
      <form novalidate name="$ctrl.newPostForm">
        <div ng-class="{
          'has-error' : $ctrl.newPostForm.title.$invalid
          }">
          <label for="title">Title</label>
          <input ng-model="$ctrl.post.title" id="title" class="form-control" required name="title">
        </div>
        <div ng-class="{
          'has-error' : $ctrl.newPostForm.body.$invalid
            }">
          <label for="body">Body</label>
          <textarea ng-model="$ctrl.post.body" id="body" class="form-control" required name="body"></textarea>
        </div>
        <div ng-class="{
          'has-error' : $ctrl.newPostForm.author.$invalid
            }">
          <label for="author">Author</label>
          <input ng-model="$ctrl.post.author" id="author" class="form-control" required name="author">
        </div>
        <div ng-class="{
          'has-error' : $ctrl.newPostForm.imageUrl.$invalid
          }">
          <label for="image-url">Image URL</label>
          <input ng-model="$ctrl.post.image_url" id="image-url" class="form-control" required name="image_url">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-disabled="$ctrl.newPostForm.$invalid" ng-click="$ctrl.createPost()">
            Create Post
          </button>
        </div>
      </form>
    </div>
  </div>
  <div ng-repeat="post in $ctrl.posts | filter:searchText | orderBy:$ctrl.sortBy" class="row">
    <div class="col-md-12">
      <div class="well">
        <div class="media-left">
          <img src="{{post.image_url}}" class="media-object">
          <a ui-sref="editor({id:post.id})">
            edit
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            {{post.title}}
            <a ng-click="$ctrl.vote(post,true)"><i class="glyphicon glyphicon-arrow-up"></i></a>
            <a ng-click="$ctrl.vote(post,false)"><i class="glyphicon glyphicon-arrow-down"></i></a>
            {{post.vote_count}}
          </h4>

          <div class="text-right">
            {{post.author}}
          </div>
          <p>
            {{post.body}}
          </p>
          <div>
            <span am-time-ago="post.createdAt"></span>
            <p>{{$ctrl.createdAt}}</p>
            <i class="glyphicon glyphicon-comment"></i>
            <a ng-click="post.newCommentForm = !post.newCommentForm">
              <ng-pluralize count="post.comments.length"
                 when="{'0': '0 Comments',
                     'one': '1 Comment',
                     'other': '{} Comments'}">
              </ng-pluralize>
            </a>
          </div>
          <div class="row">
            <div class="col-md-offset-1">
              <hr>
              <p ng-repeat="comment in post.comments" ng-if="post.newCommentForm">
                {{comment.content}}
              </p>
              <form novalidate name="newCommentForm" class="form-inline" ng-if="post.newCommentForm">
                <div class="form-group">
                  <input ng-model="post.newComment" name="comment-text" class="form-control" ng-class="{
                      'has-error' : $ctrl.newCommentForm.content.$invalid
                    }" required>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary" ng-disabled="$ctrl.newCommentForm.$invalid" ng-click="$ctrl.createComment(post)">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
